@media screen and (min-width: 992px) {
	.header-style-2 {
		width: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 100;
	}
	.header-style-2 .site-logo {
		left: 30px;
		top: 30px;
	}
	.header-style-2 #navbar {
		margin-left: 60px;
	}
	.header-style-2 #navbar > ul > li {
		padding: 29px 0;
		position:relative;
		margin-right: 57px;
		transition: .3s;
	}
	.header-style-2 #navbar > ul > li:last-child { 
		margin-right: 0px;
	}
	.site-header #navbar > ul > li > a {
		font-size: 15px;
		font-weight: 600;
		color: #41516a;
		padding: 15px 5px;
		display:block;
	}
	.header-style-2 .sticky-on #navbar > ul > li {
		padding: 19px 0;
		transition: .3s;
	}
	.header-style-2 .sticky-on .site-logo {
		top: 15px;
		transition: .3s;
	}
	
	.col-lg-4 {
		width: 33%;
		float: left;
	}
}
@media only screen and (min-width: 1025px) { 
	.offset-lg-2 {
		margin-left: 16.666667%;
	}
}
@media only screen and (max-width: 1024px) { 
	.hero-style-2 {
		height: 800px;
		min-height: 800px;
	}
	.hero-style-2 .slide {
		height: 800px;
		min-height: 800px;
	}
	.hero-style-2 .slide-caption h2 {
		font-size: 45px;
	}
	.hero-style-2 .img-holder img {
		width: 80% !important;
		margin: 50px auto;
	}
}
@media only screen and (max-width: 768px) {
	.header-style-2 #navbar {
		margin-left: 60px;
		display: block;
		border: 0;
		margin: 0;
		box-shadow: none;
	}
	.header-style-2 #navbar > ul > li {
		padding: 0;
		position:relative;
		transition: .3s;
		text-align: center;
	}
	.header-style-2 #navbar > ul > li:last-child { 
		margin-right: 0px;
	}
	.site-header #navbar > ul > li > a {
		font-size: 16px;
		font-weight: 600;
		color: #fff;
		padding: 15px 5px;
		display:block;
		text-transform: uppercase;
	}
	.header-style-2 .sticky-on #navbar > ul > li {
		padding: 0;
		transition: .3s;
	}
	.header-style-2 .sticky-on .site-logo {
		top: 15px;
		transition: .3s;
	}
	.header-style-2 {
		width: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 100;
	}
	.header-style-2 .site-logo {
		left: 30px;
		top: 30px;
	}
	.header-style-2 .site-logo.white a {
		color: #fff;
		z-index: 101;
		position: relative;
		transition:1s;
	}
	.navbar-nav {
		position: fixed;
		top: 0;
		left: 999px;
		right: 0;
		bottom: 0;
		background: rgba(242, 66, 89, 0.79);
		z-index: 100;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		transition: .3s;
		margin: 0;
	}
	.navbar-nav.open {
		left: 0;
	}
	.menu-trigger {
		position: absolute;
		top: 35px;
		right: 2rem;
		text-align: center;
		font-size: 13px;
	}
	.mobile-menu a {
		height: 36px;
		top: 0;
		position: absolute;
		right: 0;
		z-index: 101;
	}
	span.trigger {
		display: block;
		height: 3px;
		width: 36px;
		background: #f24259;
		position: relative;
		margin: 10px 0;
		border-radius: 4px;
		transition: all .3s;
	}
	span.trigger:before, span.trigger:after {
		content: "";
		height: 3px;
		width: 36px;
		background: #f24259;
		position: relative;
		display: block;
		border-radius: 4px;
		transition: all .3s;
	}

	span.trigger:before {
		top: -8px;
	}

	span.trigger:after {
		top: 5px;
	}
	.menu-trigger a.open span.trigger {background: transparent;}
	.menu-trigger a.open span.trigger:before {transform: rotate(-45deg);top: 3px;background-color: #fff;}
	.menu-trigger a.open span.trigger:after {transform: rotate(45deg);top: 0px;background-color: #fff;}
	.price .item {
		margin-bottom: 50px;
	}
	.navbar-default.sticky-on {
		height: 80px;
	}
	.navbar-default.sticky-on .menu-trigger {
		top: 30px;
	}
	.block .main-block {
		width: 100%;
	}
}
@media only screen and (max-width: 450px) {
	.hero-style-2 .slide-caption h2 {
		font-size: 30px;
	}
	.hero-style-2 .slide {
		height: 700px;
		min-height: 700px;
	}
	.hero-style-2 {
		height: 700px;
		min-height: 700px;
	} 
}
