* {
    padding: 0;
    margin: 0;
}

body { 
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    box-sizing: border-box;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}
body {
    font-weight: normal;
    font-style: normal;
    color: #333;
}
a:hover, a:focus {
    text-decoration: none;
}
p {
    margin: 0 0 10px;
    font-weight: 300;
    font-size: 14px;
    color: #777;
}
ul li {
    list-style-type: none;
}
img {
    width: 100%;
}

.close-navbar {
    display: none;
}
.page-wrapper {
    position: relative;
    overflow: hidden;
}
.sticky-header {
    width: 100%;
    position: fixed;
    left: 0;
    top: -100%;
    z-index: 9999;
    /* opacity: 0; */
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -o-transition: all 0.7s;
    -ms-transition: all 0.7s;
    transition: all 0.7s;
}
.site-header .navigation {
    background-color: #fff;
    margin-bottom: 0;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
}
.header-style-2 .navigation {
    transition: .3s;
    background: transparent;
    position: relative;
}

.navbar-default.sticky-on {
    background-color: #fff;
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: .3s;
}
.header-style-2 .sticky-header {
    background-color: #fff;
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}
.header-style-2 .site-logo {
    position: absolute;
    left: 0;
}
.header-style-2 .site-logo a {
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    color: #F24259;
}
.site-header .navigation > .container {
    position: relative;
}
site-header #navbar > ul li.current-menu-item a {
    text-decoration: none;
    color: #6220d9!important;
}

/* SECTION */

.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.hero-style-2 {
    background: url(../images/hero-2-bg.jpg) center center/cover no-repeat local;
    position: relative;
    height: 100vh;
    min-height: 1025px;
}
.hero-style-2:before {
    content: "";
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.hero-style-2:after {
    content: "";
    /* background: url(../images/hero-2-decor.png) right top/auto no-repeat local; */
    /* width: 885px; */
    /* height: 651px; */
    position: absolute;
    right: 0;
    top: 0;
}
.hero .slick-prev, .hero .slick-next {
    background-color: rgba(0, 0, 0, 0.6);
    width: 45px;
    height: 45px;
    z-index: 10;
}

.hero .slick-prev {
    left: 0;
}
.hero .slick-next {
    right: 0;
}
.hero .slide {
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    position: relative;
}
.hero-style-2 .slide {
    height: 100vh;
    min-height: 1025px;
    position: relative;
    z-index: 10;
}
.hero .slide .container {
    height: 100%;
    display: table;
}
.hero .slide .row {
    display: table-cell;
    vertical-align: middle;
}
.img-holder {
    position: relative;
    transform: translateY(-10rem);
    transition: 1.5s;
    opacity: 0;
    visibility: hidden;
} 
.hero-style-2 .hero-slider .slick-list .slick-current .img-holder {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.hero-style-2 .img-holder img {
    border-radius: 50px;
    width: auto !important;
    max-width: 100%;
}
.hero-style-2 .slide-caption {
    padding-top: 50px;
}
.hero-style-2 .slide-caption h2 {
    font-size: 60px;
    line-height: 1.3em;
    color: #41516a;
    margin: 0 0 0.83em;
    position: relative;
    display: inline-block;
    font-weight: 700;
}
.hero-style-2 .slide-caption > h2, .hero-style-2 .slide-caption > p, .hero-style-2 .slide-caption > .btns {
    opacity: 0;
}
.hero-style-2 .hero-slider .slick-list .slick-current .slide-caption > h2 {
    -webkit-animation: fadeInLeftSlow 1.5s 0.8s forwards;
    -moz-animation: fadeInLeftSlow 1.5s 0.8s forwards;
    -o-animation: fadeInLeftSlow 1.5s 0.8s forwards;
    -ms-animation: fadeInLeftSlow 1.5s 0.8s forwards;
    animation: fadeInLeftSlow 1.5s 0.8s forwards; 
}
.hero-style-2 .slide-caption > h2, .hero-style-2 .slide-caption > p, .hero-style-2 .slide-caption > .btns {
    opacity: 0;
}
.hero-style-2 .hero-slider .slick-list .slick-current .slide-caption > p {
    -webkit-animation: fadeInRightSlow 1.5s 1.8s forwards;
    -moz-animation: fadeInRightSlow 1.5s 1.8s forwards;
    -o-animation: fadeInRightSlow 1.5s 1.8s forwards;
    -ms-animation: fadeInRightSlow 1.5s 1.8s forwards;
    animation: fadeInRightSlow 1.5s 1.8s forwards;
}
.hero-style-2 .hero-slider .slick-list .slick-current .slide-caption > .btns {
    -webkit-animation: fadeInLeftSlow 1.5s 1.8s forwards;
    -moz-animation: fadeInLeftSlow 1.5s 1.8s forwards;
    -o-animation: fadeInLeftSlow 1.5s 1.8s forwards;
    -ms-animation: fadeInLeftSlow 1.5s 1.8s forwards;
    animation: fadeInLeftSlow 1.5s 1.8s forwards;
}
.hero-style-2 .slide-caption > p {
    margin-bottom: 3rem;
    font-size: 14px;
    letter-spacing: 0.5px;
}
.theme-btn, .theme-btn-s3 {
    font-family: "Poppins", sans-serif;
    background-color: #F24259;
    font-size: 16px;
    font-weight: bold;
    color: #fff !important;
    padding: 12px 40px;
    border-radius: 50px;
    display: inline-block;
    text-transform: uppercase;
    -webkit-box-shadow: 0 9px 10px hsla(352, 87%, 60%, 0.3);
    box-shadow: 0 9px 10px hsla(352, 87%, 60%, 0.3);
    outline: none;
    text-decoration: none;
}

.hero-style-2 .slick-dots {
    bottom: 100px;
}
.hero .slick-dots li {
    margin: 0;
} 

.hero-style-2 .slick-dots li {
    width: auto;
    height: auto;
}
.hero .slick-dots li button {
    background-color: rgba(242, 66, 89, 0.5);
    width: 12px;
    height: 12px;
    margin: 0 10px;
    border-radius: 50%;
}
.hero .slick-dots li.slick-active button {
    background-color: #f24259;
    -webkit-box-shadow: 0 0 0 5px hsla(352, 87%, 60%, 0.2);
    box-shadow: 0 0 0 5px rgba(242, 66, 89, 0.2);
}
.section-padding {
    padding: 100px 0;
    height: auto;
}
.pb-0 {
    padding-bottom: 0 !important;
}
.mb-80 {
    margin-bottom: 80px !important;
    padding: 0;
}
.text-center {
    text-align: center!important;
}
.hero .extra-text, .price .extra-text {
    font-weight: 300;
    margin-bottom: 25px;
    font-size: 30px;
    color: #41516a;
}
.hero .extra-text span, .price .extra-text span {
    font-weight: 700;
}
.section-head {
    margin-bottom: 80px;
}
.mb-30 {
    margin-bottom: 30px !important;
}
.section-head h4 {
    position: relative;
    padding: 0 0 0 15px;
    line-height: 1;
    border-left: 1px solid #eee;
    letter-spacing: 2px;
    font-size: 38px;
    font-weight: 700;
}
.section-head h4:before {
    content: '';
    width: 1px;
    height: 35px;
    background: #f24259;
    position: absolute;
    left: -1px;
    bottom: 0;
}
.section-head h4 span {
    font-weight: 300;
    padding-bottom: 5px;
}
.hero .mission p {
    margin-bottom: 30px;
}
.hero .mission i {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #f24259;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
}

.hero .mission .small-text {
    margin-left: 10px;
    font-size: 13px;
    color: #666;
}
.hero .skills {
    padding-top: 99px;
}
.hero .skills .prog-item {
    margin-bottom: 25px;
}
.hero .skills .prog-item p {
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 8px;
}
.hero .skills .prog-item .skills-progress {
    width: 100%;
    height: 2px;
    background: #eee;
    border-radius: 5px;
    position: relative;
}
.hero .skills .prog-item .skills-progress span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: #F24259;
    width: 10%;
    border-radius: 10px;
    -webkit-transition: all 1s;
    transition: all 1s;
}
.hero .skills .prog-item .skills-progress span:after {
    content: attr(data-value);
    position: absolute;
    top: -20px;
    right: 0;
    font-size: 10px;
    color: #777;
}
.bg-gray {
    background: #f7f7f7;
}
.pb-50 {
    padding-bottom: 50px !important;
}
.pt-80 {
    padding-top: 80px !important;
}
.mt-80 {
    margin-top: 80px !important;
}

.hero .item {
    background: #fff;
    text-align: center;
    padding: 45px 15px;
    /* -webkit-box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15); */
    /* box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15); */
    border-radius: 5px;
    margin-bottom: 30px;
    min-height: 260px;
    position: relative;
}
.hero .item .icon {
    width: 60px;
    margin-bottom: 15px;
    color: #f24259;
    line-height: 50px;
    font-weight: 700;
    font-size: 20px;
    height: 60px;
    display: block;
    margin: 0 auto 20px;
    background: #ffffff;
    border-radius: 100px;
    position: absolute;
    top: -30px;
    left: calc(50% - 30px);
    border: 5px solid #f7f7f7;
    transition: .5s;
}
.single_feature:hover .icon {
    background: #f24259;
    color: #fff;
}
.hide_icon {
    display: none;
}

.single_feature:hover .show_icon {
    display: none;
}

.single_feature:hover .hide_icon {
    display: block;
}
.hero .item h6 {
    margin-bottom: 15px;
    font-size: 16px;
}
.hero .item p {
    font-size: 12px;
    color: #666;
    line-height: 1.6;
    word-spacing: 1px;
    margin: 0;
}
.single_feature {
  transition: .3s;
}
.single_feature .line1 {
    position: absolute;
    width: 0;
    height: 0;
    float: left;
    top: -10px;
    right: -10px;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -ms-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
.single_feature:hover .line1{
  width: 100%;
  height: 100%;
}
.single_feature .line1:after{
  content: '';
  width: calc(50% - 20px);
  height: 1px;
  background-color: #f83055;
  position: absolute;
  top: 0;
  right: 0;
}
.single_feature .line1:before{
  content: '';
  width: 1px;
  height: 50%;
  background-color: #f83055;
  position: absolute;
  top: 0;
  right: 0;
}

.single_feature .line2 {
    position: absolute;
    width: 0;
    height: 0;
    float: left;
    bottom: -10px;
    left: -10px;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -ms-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
.single_feature:hover .line2{
  width: 100%;
  height: 100%;
}
.single_feature .line2:after{
  content: '';
  width: 50%;
  height: 1px;
  background-color: #f83055;
  position: absolute;
  bottom: 0;
  left: 0;
}
.single_feature .line2:before{
  content: '';
  width: 1px;
  height: 50%;
  background-color: #f83055;
  position: absolute;
  bottom: 0;
  left: 0;
}
.single_feature:hover {
    background-color: #f24259;
    color: #fff;
    border-radius: 0;
}
.single_feature:hover p {
  color: #fff;
}

.quote {
    background-attachment: fixed;
    color: #fff;
}
.section-padding {
    padding: 100px 0;
    position: relative;
}
.bg-img {
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-img:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.8);
}
.quote p {
    font-size: 16px;
    font-style: italic;
    color: #bbb;
    position: relative;
}
.quote p .icon {
    font-size: 30px;
    margin: 0 15px;
    padding: 0;
    opacity: .3;
    line-height: 1;
}
.quote p .icon {
    font-size: 30px;
    margin: 0 15px;
    padding: 0;
    opacity: .3;
    line-height: 1;
}
.col-lg-8 {
    position: relative;
    z-index: 1;
}
.quote h5 {
    color: #F24259;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    margin: 15px 0 10px;
}
.quote h6 {
    font-size: 12px;
    color: #ccc;
}
.price .active {
    -webkit-box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.1);
}
.price .item {
    padding: 30px 0;
    background: #fff;
    border-radius: 5px;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.price .type {
    margin-bottom: 30px;
}
.price .type .icon {
    font-size: 35px;
    color: #eee;
    margin-bottom: 10px;
}
.price .active .type .icon {
    color: #f24259;
}
.price .type h4 {
    font-size: 23px;
}
.price .value {
    padding: 30px 0;
    position: relative;
}
.price .value:before, .price .value:after {
    content: '';
    background: #eee;
    width: 70%;
    height: 1px;
    position: absolute;
    left: 15%;
}
.price .value:before {
    top: 0;
}
.price .value h3 {
    display: inline-block;
    padding-right: 10px;
    font-size: 50px;
    font-weight: 800;
    position: relative;
}
.price .value h3 span {
    font-size: 35px;
    position: relative;
    margin-right: 5px;
    font-weight: 300;
}
.price .value h3 sup {
    font-size: 14px;
    top: 5px;
    position: absolute;
}
.price .value .per {
    font-size: 13px;
    color: #777;
}
.price .value:after {
    bottom: 0;
}
.price .features {
    padding: 15px;
}
.price .features li {
    margin: 15px 0;
    color: #777;
    font-size: 14px;
    font-weight: 300;
}
.price .order {
    padding-top: 15px;
    position: relative;
}
.price .order:before {
    content: '';
    background: #eee;
    width: 70%;
    height: 1px;
    position: absolute;
    left: 15%;
    top: 0;
}
.price .order a {
    background: #F24259;
    border: 1px solid #F24259;
    color: #fff;
    padding: 10px 30px;
    margin-top: 15px;
    font-weight: 600;
    position: relative;
    display: inline-block;
    border-radius: 50px;
}
.price .order a span {
    position: relative;
    z-index: 2;
}
.price .order a:after {
    content: '';
    width: 0;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 100%;
    z-index: 1;
    background: #fff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-radius: 50px;
}
.price .order a:hover span {
    color: #F24259;
}
.price .order a:hover:after {
    width: 100%;
    left: 0;
    -webkit-transition: width 0.3s ease;
    transition: width 0.3s ease;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
    display: flex;
}
.block .main-block .section-head {
    margin: 0;
}
.block-img {
    background-image: url(../images/about.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 0!important;
    height: 100%;
    position: relative;
    width: 100%;
}

.d-md-block {
    padding: 0;
}

.faq-section .container-fluid {
    padding: 0;
}
.block .main-block {
    /* background: #ffffff; */
    padding: 100px 50px;
} 
.faqs-page .panel-default {
    border: 1px solid #ffffff;
    box-shadow: none;
    border-radius: 6px;
}

.faqs-page {
    margin: 3rem 0 0;
}

.faqs-page .panel-default a {
    display: block;
    background: #f7f7f7;
    color: #424242;
    font-size: 14px;
    padding: 1.5rem 2rem;
    font-weight: 400;
    border-radius: 6px;
}
.form-control {
    background: #fff;
    box-shadow: none;
    border: 1px solid #fff;
    height: 45px;
    width: 100%;
}

.form-control:focus {
    border-color: #f24259;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(242, 66, 89, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(242, 66, 89, 0.6);
}

.btn-light {
    font-family: "Poppins", sans-serif;
    background-color: #F24259;
    font-size: 16px;
    font-weight: bold;
    color: #fff !important;
    padding: 12px 40px;
    border-radius: 50px;
    display: inline-block;
    -webkit-box-shadow: 0 9px 10px hsla(352, 87%, 60%, 0.3);
    box-shadow: 0 9px 10px hsla(352, 87%, 60%, 0.3);
    text-transform: uppercase;
    outline: none;
    text-decoration: none;
    outline: none !important;
}
.btn-cancel:hover {
    
    transition: .3s;
}
.btn-light:focus {
  border:0;
  outline: none;
}
.maps {
    position: relative;
    width: 100%;
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}
.information {
    padding: 80px 0;
    color: #fff;
    -webkit-transition: all .5s;
    transition: all .5s;
    position: relative;
}
.information .info {
    position: relative;
    z-index: 1;
}
.information .item {
    padding: 30px;
    background: rgba(70, 70, 70, 0.3);
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    display: flex;
    align-items: center;
}

.information .info .item:last-child {
    margin-bottom: 0;
}
.information .info .item .icon {
    font-size: 45px;
    float: left;
}
.information .info .item .cont {
    margin-left: 60px;
}
.information .info .item .cont h6 {
    font-size: 16px;
    margin-bottom: 5px;
}
.information .info .item .cont p {
    color: #999;
}
footer {
    background: #111;
    padding: 80px 0;
}
.logo {
    padding: 15px 0;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    color: #f24259;
    letter-spacing: 1px;
}
footer .social {
    margin-bottom: 10px;
}
footer .social a {
    color: #777;
    font-size: 18px;
    margin: 15px 10px;
}
footer p {
    color: #777;
    font-weight: 700;
}
.modal-packages {
    position: fixed;
    z-index: 111;
    background: rgba(0, 0, 0, 0.75);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    display: none;
}

.packages-content {
    max-width: 600px;
    margin: 100px auto;
    background: #fff;
    border-radius: 10px;
}

.packages-form {
    position: relative;
    padding: 5rem;
} 
.packages-content {
    max-width: 600px;
    margin: 100px auto;
    background: #fff;
    border-radius: 10px;
}

.packages-form {
    position: relative;
    padding: 5rem;
}

.packages-form .form-control {
    background: #f6f6f6;
}

.packages-form label {
    font-size: 12px;
}
.header-packages {
    text-align: center;
    position: relative;
    width: 100%;
    margin-bottom: 2rem;
}

.header-packages span.icon {
    font-size: 35px;
    color: #f24259;
}

.header-packages h4 {
    font-size: 22px;
    display: block;
    font-weight: 300;
    letter-spacing: 1px;
}

.header-packages .value {
    padding: 10px 0;
    position: relative;
}

.header-packages .value:before, .header-packages .value:after {
    content: '';
    background: #eee;
    width: 80%;
    height: 1px;
    position: absolute;
    left: 10%;
}
.header-packages .value:before {
    top: 0
}
.header-packages .value:after {
    bottom: 0;
}
.header-packages .value h3 {
    display: inline-block;
    padding-right: 10px;
    font-size: 50px;
    font-weight: 800;
    position: relative;
}
.header-packages .value h3 span {
    font-size: 35px;
    position: relative;
    margin-right: 5px;
    font-weight: 300;
}
.header-packages .value h3 sup {
    font-size: 14px;
    top: 5px;
    position: absolute;
}
 

.packages-form .form-group, .packages-form .form-button {
    width: 80%;
    margin: 0 auto 20px;
}
.packages-form .close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 27px;
    color: #222;
    opacity: .5;
    font-weight: 500;
}
.packages-form .form-button {
    margin: 30px auto;
    text-align: center;
}

.packages-form .form-button button {
    margin: 5px;
}

.cancel-btn {
    background-color: #f1f1f1;
    color: #222 !important;
    box-shadow: none;
    -webkit-box-shadow: 0 9px 10px rgba(191, 191, 191, 0.3);
    box-shadow: 0 9px 10px rgba(191, 191, 191, 0.3);
}